@{
    ViewData["Title"] = "Access denied";
}

<div class="text-center">
    <h1 class="display-4">Access denied:</h1>
    <p>@DateTime.Now</p>
</div>

<div class="text-center mt-4">
    <a class="nav-link" href="/Home/Index">Return to home page</a>
</div>
